{% extends 'layout.html' %}
{% block main %}

<div class="container d-flex align-items-center justify-content-center min-vh-100">
    {% if user.admin == True %}
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-center card-hover" onclick="location.href='/add-student'">
                <div class="card-body">
                    <i class="fas fa-plus-circle" style="font-size: 48px; color: green;"></i>
                    <h5 class="card-title mt-2">Add Student</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card text-center card-hover" onclick="location.href='/add-teacher'">
                <div class="card-body">
                    <i class="fas fa-chalkboard-teacher" style="font-size: 48px; color: blue;"></i>
                    <h5 class="card-title mt-2">Add Teacher</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-center card-hover" onclick="location.href='/teachers-database'">
                <div class="card-body">
                    <i class="fas fa-chalkboard" style="font-size: 48px; color: brown;"></i>
                    <h5 class="card-title mt-2">Teachers Database</h5>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-4 mb-4">
            <div class="card text-center card-hover" onclick="location.href='/mark-attendance'">
                <div class="card-body">
                    <i class="fas fa-clipboard-check" style="font-size: 48px; color: orange;"></i>
                    <h5 class="card-title mt-2">Mark Attendance</h5>
                </div>
            </div>
        </div>

        {% endif %}
        <div class="col-md-4 mb-4">
            <div class="card text-center card-hover" onclick="location.href='/students-database'">
                <div class="card-body">
                    <i class="fas fa-database" style="font-size: 48px; color: purple;"></i>
                    <h5 class="card-title mt-2">Students Database</h5>
                </div>
            </div>
        </div>
        
    </div>
    
    
</div>
{% endblock %}